[Desktop Entry]
Encoding=UTF-8
Name=DataGrip
Comment=DataGrip
Exec=datagrip.sh
Icon=/opt/DataGrip/bin/product.png
Terminal=false
Type=Application
Categories=Application;Development;
StartupNotify=true
Name[en_GB]=DataGrip
